.home{
    background: #140152;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .left_head{
    margin-top: 10vh;
    background: #22007c;
    width: 50%;
    height: 30%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center;
} */ 
.left_head h1{
    padding: 3rem;
    background: #22007c;
    border-radius: 2rem;
}
.game_btns{
    margin-top: 10vh;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game_btns button{
    cursor: pointer;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
}
.right_nav{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background: red;
}
.user_account{
    color: #000;
    margin-left:auto;
}
.modal_content{
    background: #22007c;
    height: 30%;
    width: 30%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
}
.modal_content h1{
    margin-top: 10%;
    font-size: x-large;
    font-weight: bolder;
}
.modal_btns{
    bottom: 10%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    width: 100%;
    /* grid-row: 1/2; */
    padding: 1em;
    gap: 1em;
    
}
.modal_btns button{
    padding: 1rem;
    font-size: medium;
    cursor: pointer;
    border-radius: 1rem;
    background: #0d00a4;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 0rem 0rem 1rem #04052e;
}
.modal_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    background: transparent;
    border: none;
    outline: none;
}
.modal_content1{
    background: #22007c;
    height: 30%;
    width: 30%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    color: white;
}
#link_input{
    width: 80%;
    /* height: 10%; */
    /* position: absolute; */
    /* top: 20%; */
    /* bottom: 50%; */
    /* margin-top: 10%; */
    padding: 1rem 2rem;
    background: #0d00a4;
    color: white;
    box-shadow: 0rem 0rem 1rem #04052e;
}
.modal_btns1 button{
    padding: 1rem;
    font-size: medium;
    margin-top: auto;
    cursor: pointer;
    border-radius: 1rem;
    background: #0d00a4;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 0rem 0rem 1rem #04052e;
}